spring:
  application:
    name: animalHospital
  
  datasource:
    url: jdbc:mysql://localhost:3306/animalhospital?useUnicode=true&characterEncoding=utf8&useSSL=false&useLegacyDatetimeCode=false&createDatabaseIfNotExist=true
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  token-validity-in-seconds: 86400
  token-validity-in-seconds-for-remember-me: 2592000

logging:
  level:
    root: INFO
    com.docpet.animalhospital: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG

