 /* ABOUT-SECTION*/
.about-section {
  padding: 80px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 36px;
  color: #ff914d;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
}
.about-text .btn:hover {
  background: #ff6a00;
}

.about-image img {
  width: 480px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(255, 145, 77, 0.3);
}
/* MISSION SECTION */
.mission-section {
  background: #fff3e6;
  padding: 80px 60px;
  text-align: center;
}

.mission-section h2 {
  font-size: 32px;
  color: #ff914d;
  margin-bottom: 40px;
}

.mission-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.mission-card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 5px 15px rgba(255, 145, 77, 0.2);
  transition: 0.3s;
}

.mission-card:hover {
  transform: translateY(-5px);
}

.mission-card h3 {
  color: #ff6a00;
  margin-bottom: 15px;
}

.mission-card ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

.mission-card ul li {
  margin: 8px 0;
}

/* TEAM SECTION */
.team-section {
  padding: 80px 60px;
  text-align: center;
}

.team-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #ff914d;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.team-member {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 260px;
  box-shadow: 0 5px 15px rgba(255, 145, 77, 0.2);
  transition: 0.3s;
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.team-member h3 {
  color: #ff6a00;
  margin-bottom: 8px;
}
