body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  place-items: unset;
}
.slider-section {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.slider-container {
  position: relative;
}

.slide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(40px);
  transition: opacity 1.8s ease, transform 1.8s ease;
}

.slide.active {
  display: block;
  position: relative;
  opacity: 1;
  transform: translateX(0);
  animation: fadeSlide 1.2s ease forwards;
}
@keyframes fadeSlide {
  0% {
    opacity: 0.7;
    transform: translateX(40px);
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.slide img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}

.caption {
  position: absolute;
  bottom: 50px;
  left: 60px;
  color: #ff914d;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  animation: fadeUp 1.2s ease;
}

@keyframes fadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 7px 14px;
  border-radius: 60%;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}
